<%- include ../Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1-col-md-10">
            <h1><%= title %></h1>
            <% if (typeof displayName == 'string' && displayName){%>
            <a href="/assignmentstracker/add" class="btn btn-primary"
            role="button"><i class="fas fa-plus-circle"></i>Add Assignment</a>
            <% } %>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
            <% if (typeof displayName == 'string' && displayName){%>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Due</th>
                <th class="col-5">Description</th>
                <th class="text-center col-1">Class</th>
                <th class="text-center col-1"></th>
                <th class="text-center col-1"></th>
            <% } else { %>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Due</th>
                <th class="col-5">Description</th>
                <th class="text-center col-1">Class</th>
            <% } %>
            </tr>
            <% for(let count=0;count<AssignmentTracker.length;count++) { %>
                <tr class="d-flex">
                    <% if (typeof displayName == 'string' && displayName){%>
                    <td class="text-center col-2"><%= AssignmentTracker[count].Name %></td>
                    <td class="text-center col-2"><%= AssignmentTracker[count].Due %></td>
                    <td class="col-5"><%= AssignmentTracker[count].Description %></td>
                    <td class="text-center col-1"><%= AssignmentTracker[count].Class %></td>
                    <td class="text-center col-1">
                        <a href="/assignmentstracker/edit/<%= AssignmentTracker[count]._id%>"
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alit"></i>Edit</a></td>
                    <td class="text-center col-1">
                        <a href="/assignmentstracker/delete/<%= AssignmentTracker[count]._id%>"
                        class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete</a></td>
                <% } else { %>
                    <td class="text-center col-2"><%= AssignmentTracker[count].Name %></td>
                    <td class="text-center col-2"><%= AssignmentTracker[count].Due %></td>
                    <td class="col-5"><%= AssignmentTracker[count].Description %></td>
                    <td class="text-center col-1"><%= AssignmentTracker[count].Class %></td>
                <% } %>
                </tr>
            <% } %>
        </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs %>

